name: accounts_stub_impl
description: Stub implementation for accounts shims with NoOp DSR
version: 0.1.0
publish_to: none

environment:
  sdk: ">=3.3.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  accounts_shims:
    path: ../accounts_shims

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter: null
