name: auth_supabase_impl
description: Supabase-based Auth implementation for Delivery Ways
version: 0.1.0
publish_to: none
environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^2.5.0
  core: ^0.1.0
dev_dependencies:
  flutter_test:
    sdk: flutter
