name: core
description: Core utilities and models for Delivery Ways clean version
publish_to: none
version: 0.1.0
environment:
  sdk: ">=3.3.0 <4.0.0"
dependencies:
  flutter:
    sdk: flutter
  foundation_shims: ^0.1.0
  flutter_riverpod: any
